<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit items</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
<header>
    <h1>edit items.html</h1> <a href="/">home</a>
</header>
<h2>Add new collection</h2>
<form action="/edit_item" method="post">
    <input type="text" name="item_name" placeholder="Item name">
    <input type="text" name="version" placeholder="Item version">
    <input type="number" name="price" placeholder="Item price">
    <button type="submit" name="action" value="add">Add</button>
</form>
<br>
<h2>Current Collection</h2>
{% if not item %}
    <p>No items found</p>
{% else %}
    <table>
        <thead>
        <tr>
            <th>Item</th>
            <th>Version</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

        </thead>
        <tbody>
        {% for item in item %}
            <tr>
                <td>{{ item.Item }}</td>
                <td>{{ item.Version }}</td>
                <td id="price_{{ item.ID }}">{{ item.Price }}</td>
                <td>
                    <form action="/edit_item" method="post">
                        <input type="hidden" name="item_id" value="{{ item.ID }}">
                        <button type="submit" name="action" value="remove">Remove</button>
                    </form>
                    <button type="button" onclick="createTable({{ item.ID|tojson }}); tableHinder({{ item.ID|tojson }})"
                            id="stock_edit">Stocks
                    </button>
                    <button type="button" onclick="editPriceButtonHandler({{ item.ID }}, {{ item.Price|tojson }})" id="edit_price_button_{{ item.ID }}">Edit price</button>
                </td>
            </tr>

            {% for size in size %}
                <tr class="stock_table_row_{{ item.ID }}" style="display:none;">
                    <td>....</td>
                    <td id="json_data_call_{{ item.ID }}_size">Size {{ size.Size }}</td>
                    <td id="">-></td>
                    <td id="itemID_{{ item.ID }}_sizeID_{{ size.ID }}"></td>
                    <td id="actions">
                        <input type="number" name="action" value="" placeholder="Amount"
                               id="amount_itemID_{{ item.ID }}_sizeID_{{ size.ID }}">
                        <button type="button" onclick="add({{ item.ID }}, {{ size.ID }})">Add</button>
                        <button type="button" onclick="remove({{ item.ID }}, {{ size.ID }})">Remove</button>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>

