<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <h1>stocks.html</h1>
</header>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}
{% endwith %}
<a href="/">Home</a>
<a href="/edit_item">Edit items</a>
<a href="/activities">Activities</a>

<div>
    <h2>Search item</h2>
    <input type="search" placeholder="Search item..." id="INDEX">
    <div id="results">
        <table id="table1">
        </table>
    </div>
</div>

<h2>Add txn</h2>
<form method="POST">
    <table>
        <thead>
        <th>Item name</th>
        <th>Size</th>
        <th>Version</th>
        <th>Customer name</th>
        <th>Address</th>
        <th>Phone no.</th>
        </thead>

        <tbody>
        <tr>
            <td>
                <select name="item_name" required>
                    <option selected="selected" value="">Select an item</option>
                    {% for item in items %}
                        <option value="{{ item.Item }}">{{ item.Item }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="size" required>
                    <option selected="selected" value="">Select the size</option>
                    {% for size in size %}
                        <option value="{{ size.Size }}">{{ size.Size }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="version" required>
                    <option selected="selected" value="">Select the version</option>
                    {% for version in items %}
                        <option value="{{ version.Version }}">{{ version.Version }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input type="text" name="customer_name" placeholder="customer name" required>
            </td>
            <td>
                <input type="text" name="address" placeholder="address" required>
            </td>
            <td>
                <input type="number" name="phone_no" placeholder="phone no." required>
            </td>
        </tr>
        </tbody>

    </table>
    <br>
    <button type="submit" name="submit_txn">Submit</button>
</form>
<br>
<h2>Pending</h2>


{# using ns (namespace) because if using normal variable it will not be usable outside of if abd loop block #}

{% set ns = namespace(ifPending=False) %}
{% for pending in txn_query %}
    {% if pending.Status == 'SHIPPED' or pending.Status == 'ORDERED' %}
        {% set ns.ifPending = True %}
    {% endif %}
{% endfor %}



{% if not txn_query %}
    <p>No pending order</p>
{% elif ns.ifPending %}
    <table id="pendingTable">
        <thead>
        <th>Status</th>
        <th>Item</th>
        <th>Size</th>
        <th>Version</th>
        <th>Customer name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Date</th>
        <th>EDIT</th>
        </thead>
        <tbody id="tbody-status">
        {% for pending in txn_query %}
            {% if pending.Status == 'SHIPPED' or pending.Status == 'ORDERED' %}
                <tr>
                    <td>{{ pending.Status }}</td>
                    <td>{{ pending.Item }}</td>
                    <td>{{ pending.Size }}</td>
                    <td>{{ pending.Version }}</td>
                    <td>{{ pending.CustomerName }}</td>
                    <td>{{ pending.Address }}</td>
                    <td>{{ pending.PhoneNumber }}</td>
                    <td>{{ pending.Date }}</td>
                    <td>
                        {% if pending.Status != "SHIPPED" %}
                            <form method="POST">
                                <input type="hidden" name="txID" value="{{ pending.ID }}">
                                <button name="ship">Shipped ?</button>
                            </form>
                        {% endif %}
                        <form method="POST">
                            <input type="hidden" name="txID" value="{{ pending.ID }}">
                            <button name="complete">Complete ?</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No pending order</p>
{% endif %}

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>